@charset "UTF-8";

html {
	font-size: 99.9%
}

body {
	color: black;
	max-width: 800px;
	margin-left: 4pt;
	text-indent: 00px;
	font-family: Georgia, Palatino, "New York", "Trebuchet MS", Times, "Times New Roman", serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-decoration: none
}

DL {
	font-family: Georgia, Palatino, "New York", "Trebuchet MS", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	margin-left: 10pt;
	text-decoration: none;
	text-indent: 00px;
	text-transform: none
}

DT {
	font-family: Georgia, Palatino, "New York", "Trebuchet MS", Times, "Times New Roman", serif;
	font-size: 0.9em;
	margin-top: 12px
}

DD {
	font-family: Georgia, Palatino, "New York", "Trebuchet MS", Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	margin-bottom: 2px;
	margin-top: 2px;
	text-decoration: none;
	text-transform: none
}

UL {
	margin-top: 0.5em;
}

OL {
	margin-top: 0.5em;
}

LI {
	font-family: Georgia, Palatino, "New York", "Trebuchet MS", Times, "Times New Roman", serif;
	line-height: 110%;
	margin-bottom: 0em;
	margin-top: 0em;
	padding-top: 0.3em;
	padding-bottom: 0.2em
}


TT {
	font-family: "Monotype.com", "Courier", "Courier New", monospace;
	font-size: 0.9em;
	line-height: 1em
}

PRE {
	font-family: "Monotype.com", "Courier", "Courier New", monospace;
	font-size: 0.9em;
	line-height: 1em
}

P {
	color: black;
	font-family: Georgia, Palatino, "New York", "Trebuchet MS", Times, "Times New Roman", serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin-left: 10pt;
	margin-right: 4pt;
	text-decoration: none;
	text-indent: 0px
}

B {}

p.close {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 6px
}

p.textIndent1 {
	margin-left: 30px;
}

p.textIndent2 {
	margin-left: 50px;
}

p.textIndent1AndSmaller {
	margin-left: 30px;
	font-size: smaller
}

/* table {text-indent: 20px} */

xtd, xth {
	line-height: 1.2em
}

H1 {
	color: #008800;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.73em;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	margin-left: 0pt;
	margin-top: 0.8em;
	margin-bottom: 0px;
	text-decoration: none;
	text-transform: none
}

H2 {
	color: #008800;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.44em;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	margin-left: 2pt;
	margin-top: 0.8em;
	margin-bottom: 0px;
	text-decoration: none
}

H3 {
	color: #008800;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin-left: 5pt;
	margin-top: 0.8em;
	margin-bottom: 0px;
	text-decoration: none
}

H4 {
	color: #008800;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin-left: 10pt;
	margin-top: 12px;
	text-decoration: none
}

DIV {}

a:link {
	color:#000077; text-decoration:inherit; font-weight:inherit; border-bottom: 1px dotted #000077;
}
a:visited {
	color:#000033; text-decoration:none; font-weight:normal; border-bottom: 1px dotted #000077;
}
a:hover {
	outline: blue thick; color:#3333FF; background-color:#FFFF66;
}

a.noUnderline {
	background-color:inherit; color:inherit; outline: none; border: none;
}
a[rel="external"], a.external {
	white-space: nowrap;
	padding-right: 13px;
	background-image: url('../../images/external.gif');
	background-repeat:no-repeat;
	background-position: right center;
}

IMG {}

TD {
	font-family: Georgia, Palatino, "New York", "Trebuchet MS", Times, "Times New Roman", serif;
}

TD.important {}
.float_right {
	float: right;	padding: 3px;	margin: 3px;
}
.float_left {
	float: left;	padding: 3px;	margin: 3px;
}
.font_smaller {
	font-size: smaller
}
.font_smaller50 {
	font-size: 50%
}
.font_larger {
	font-size: larger;
}
.fontSans {
	font-family: Helvetica, Arial, sans-serif;
}

#illuHeader {
	display: block;
	margin: 0px;  padding: 0px;  width: 800px;
	height: 64px;
}

#illuHeader > headerLeft {
	text-align:left;
	width: 64px;
	border: none;
	float:left;
}

#illuHeader > headerCenter {
	text-align:center;
	width: 672px;
	border: none;
	float:left;
}

#illuHeader > headerRight {
	text-align:right;
	width: 64px;
	border: none;
	float:right;
}

#illuBody {
	display: block;
	border: none;
}